extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1= project_name
        p= project_desc

      .project-tech-links-box.box
        h6 Technologies
        ul
          each project_tech in project_techs
            li= project_tech

        a.btn-link(href=live_link, target='_blank') Live Demo
        a.btn-link(href=github_link, target='_blank') GitHub Repo

    .project-img-box.box
      img.project-img(src=project_img[1], alt='1st photo of the project')
      img.project-img(src=project_img[2], alt='2nd photo of the project')
      if project_img[3]
        img.project-img(src=project_img[3], alt='3rd photo of the project')
      if project_img[4]
        img.project-img(src=project_img[4], alt='4th photo of the project')
      if project_img[5]
        img.project-img(src=project_img[5], alt='5th photo of the project')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
